[class*=icon-sl-] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  margin: -6px 0;
  width: 25px;
  height: 25px;
}

[class*=icon-sl-]:after, [class*=icon-sl-]:before {
  content: ' ';
  pointer-events: none;
}


/* Alignment icons */
[class*=icon-sl-left],
[class*=icon-sl-center],
[class*=icon-sl-right] {
  width: 18px;
}

[class*=icon-sl-left]:after,
[class*=icon-sl-center]:after,
[class*=icon-sl-right]:after {
  background: #29323d;
  width: 18px;
  top: 4px;
}

[class*=icon-sl-left]:before,
[class*=icon-sl-center]:before,
[class*=icon-sl-right]:before {
  background: #29323d;
  width: 14px;
  top: 8px;
}

[class*=icon-sl-left]:after, [class*=icon-sl-left]:before,
[class*=icon-sl-center]:after, [class*=icon-sl-center]:before,
[class*=icon-sl-right]:after, [class*=icon-sl-right]:before {
  position: absolute;
  height: 1px;
  box-shadow: 0 8px 0 0 #29323d;
  left: 0;
}

[class*=icon-sl-center]:before {
  left: 2px;
}


[class*=icon-sl-right]:after, [class*=icon-sl-right]:before {
  left: auto;
  right: 0;
}

/* Font-size icons */
[class*=icon-sl-big], [class*=icon-sl-small] {
  width: 16px;
  height: 25px;
  font-size: 13px;
  position: relative;
}

[class*=icon-sl-big]:after,
[class*=icon-sl-small]:after,
[class*=icon-sl-big]:before,
[class*=icon-sl-small]:before {
  content: 'A';
  color: #A7B3C1;
  position: absolute;
  left: 0;
  bottom: 3px;
}

[class*=icon-sl-big]:after,
[class*=icon-sl-small]:after {
  font-size: 70%;
  right: 0;
  color: #29323d;
  left: auto;
}

[class*=icon-sl-big]:after {
  font-size: 130%;
}

/* Font-size drop-down */
body .redactor-dropdown-box-small-text,
body .redactor-dropdown-box-larger-text {
    min-width: 5em;
}
